.game-info-generation {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.15rem;
  color: white;
  top: 0.5rem;
  left: 0.5rem;
  background-color: #242424bd;
  font-size: 1.15rem;
  z-index: 1000;
}

.game-info-button {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #242424bd;
  color: white;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.2s ease;
}

.modal-content .game-rules-container {
  /* Force this in case the modal structure includes other wrappers */
  max-height: 100%;
  overflow: hidden;
}

.game-rules-container {
  padding: 20px;
}

.game-rules-container h2 {
  margin-top: 0;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.game-rules-container h3 {
  margin-top: 20px;
  color: #444;
}

.game-rules-container ul {
  padding-left: 20px;
}

.game-rules-container li {
  margin-bottom: 10px;
}

.game-rules-container p {
  line-height: 1.5;
}

/*Tablet and up*/
@media (min-width: 768px) {
  .game-info-button:hover {
    transform: scale(1.1);
  }
}
