.game-tools {
  min-width: 300px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.game-tools-content {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s;
}

.close-button:hover {
  background-color: #f0f0f0;
}

.tools-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tools-section-content {
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.cursor-controls {
  display: flex;
}

.cursor-controls-buttons {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.cursor-button {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #242424;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.cursor-button:hover:not(:disabled) {
  background-color: #242424;
  color: white;
}

.cursor-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cursor-value {
  font-size: 1.2rem;
  min-width: 2rem;
  text-align: center;
}

.pattern-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.pattern-button {
  padding: 0.5rem 1rem;
  margin: 0.2rem 0.2rem 0.2rem 0;
  border: 1px solid #242424;
  background: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.confirm-button {
  padding: 0.5rem 1rem;
  border: 1px solid #242424;
  background: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.pattern-button:hover,
.confirm-button:hover {
  background-color: #242424;
  color: white;
}

.text-error {
  color: #e53935;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.text-info {
  font-size: 0.8rem;
  color: #666;
  margin-top: 0.5rem;
}

/* Styles for text input */
.text-input {
  padding: 0.5rem;
  border: 1px solid #242424;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  resize: vertical;
}
